<a href="https://colab.research.google.com/github/JaoVSantos/ChallengerDSAlura/blob/main/CHALLENGER_DATA_SCIENCE_ALURA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sobre o desafio.

"Boas-vindas!

Você foi contratado(a) como cientista de dados pela operadora de telecomunicações Alura Voz. Na reunião inicial com as pessoas responsáveis pela área de vendas da empresa, foi explicada a importância de se reduzir a Taxa de Evasão de Clientes, conhecido como Churn Rate. Basicamente, o Churn Rate indica o quanto a empresa perdeu de receita ou clientes em um período de tempo.

Com sua experiência, você sugere, como passo inicial, a identificação de clientes que teriam uma maior chance de deixar a empresa. Para isso, você explica que é interessante investigar algumas características de clientes ou dos planos de clientes para tentar CLASSIFICAR estas pessoas como potenciais candidatas a deixar a empresa ou não."

#PRIMEIRA SEMANA!!

#Começando o desafio com analise e tratamento de dados

In [148]:
#Importando as bibliotecas importantes para o momento.

import pandas as pd
import numpy as np

In [149]:
#Leitura dos nosso dados.

dados = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json')

In [150]:
dados.head(7)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
5,0013-MHZWF,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
6,0013-SMEOE,No,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [151]:
#Substituir os nomes das colunas.

dados.rename(columns={'customerID':'ID',
                      'Churn':'Evasão',
                      'customer':'Cadastrais',
                      'phone':'Telefone',
                      'internet':'serviço_net',
                      'account':'Conta'}, inplace=True)

In [152]:
dados

,ID,Evasão,Cadastrais,Telefone,serviço_net,Conta
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [153]:
#Vamos analisar todos os dados para que possamos fazer uma limpeza de dados nos campos.
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           7267 non-null   object
 1   Evasão       7267 non-null   object
 2   Cadastrais   7267 non-null   object
 3   Telefone     7267 non-null   object
 4   serviço_net  7267 non-null   object
 5   Conta        7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [154]:
dados.isnull().sum()

ID             0
Evasão         0
Cadastrais     0
Telefone       0
serviço_net    0
Conta          0
dtype: int64

In [155]:
dados.shape

(7267, 6)

#Limpeza e tratamento do dataframe

In [156]:
dados.head(2)

,ID,Evasão,Cadastrais,Telefone,serviço_net,Conta
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [157]:
dados_util = dados.drop(columns=['Cadastrais', 'Telefone', 'serviço_net', 'Conta'])
dados_util

              ID Evasão
0     0002-ORFBO     No
1     0003-MKNFE     No
2     0004-TLHLJ    Yes
3     0011-IGKFF    Yes
4     0013-EXCHZ    Yes
...          ...    ...
7262  9987-LUTYD     No
7263  9992-RRAMN    Yes
7264  9992-UJOEL     No
7265  9993-LHIEB     No
7266  9995-HOTOH     No

[7267 rows x 2 columns]

In [158]:
#Vamos agrupar as colunas para que tenha uma melhor visualização dos dados.

dados_cadastro = pd.json_normalize(data=dados['Cadastrais'], sep='_')
dados_telefone = pd.json_normalize(data=dados['Telefone'], sep='_')
dados_net = pd.json_normalize(data=dados['serviço_net'], sep='_')
dados_conta = pd.json_normalize(data=dados['Conta'], sep='_')

In [159]:
dados_conta

,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [160]:
dados_att = pd.concat([dados_util, dados_cadastro, dados_telefone,dados_net, dados_conta], axis=1)
dados_att

,ID,Evasão,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [161]:
#Nos precisaremos de novo traduzir, já que adaptamos nossa coluna ao nossos pontos.

dados_att.rename(columns={'gender':'Genero',	"SeniorCitizen":'Idoso',
                          'Partner':'Parceiro','Dependents':'Dependentes',
                          'tenure':'dominios',	'PhoneService':'ServiçosCel',	
                          'MultipleLines':'MultiplasLinhas',
                          'InternetService':'ServiçoNet',
                          'OnlineSecurity':'SegurançaNet',	
                          'OnlineBackup	':'Backup',
                          'DeviceProtection':'ProteçãoDisp',
                          'TechSupport':'SuporteTec','StreamingTV':'TransmissaoTv',	
                          'StreamingMovies':'TransmissaoFilmes',
                          'Contract':'Contrato','PaperlessBilling':'FaturaFisica',	
                          'PaymentMethod':'MetodoPagamento',	'Charges_Monthly':'RecargaMês',
                          'Charges_Total':'RecargaTotal'}, inplace=True)

In [162]:
dados_att

,ID,Evasão,Genero,Idoso,Parceiro,Dependentes,dominios,ServiçosCel,MultiplasLinhas,ServiçoNet,...,OnlineBackup,ProteçãoDisp,SuporteTec,TransmissaoTv,TransmissaoFilmes,Contrato,FaturaFisica,MetodoPagamento,RecargaMês,RecargaTotal
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [163]:
#Verificando todos o conjunto de dados para traduzirmos certo.

dados_att['Genero'].value_counts()

Male      3675
Female    3592
Name: Genero, dtype: int64

In [164]:
dados_att['Evasão'].value_counts()

No     5174
Yes    1869
        224
Name: Evasão, dtype: int64

In [165]:
dados_att['ServiçoNet'].value_counts()

Fiber optic    3198
DSL            2488
No             1581
Name: ServiçoNet, dtype: int64

In [166]:
dados_att['Contrato'].value_counts()

Month-to-month    4005
Two year          1743
One year          1519
Name: Contrato, dtype: int64

In [167]:
dados_att['MetodoPagamento'].value_counts()

Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: MetodoPagamento, dtype: int64

In [168]:
dados_att['FaturaFisica'].value_counts()

Yes    4311
No     2956
Name: FaturaFisica, dtype: int64

In [169]:
#Vamos traduzir nossas linhas para que todos que não entendam de inglês possam analisar também.

#M = PAGAMENTO MANUAL / A = PAGAMENTO AUTOMATICO 

tradução = {'Yes':'Sim',
            'No':'Nao',
            'Male':'Homem',
            'Female':'Mulher',
            'Fiber optic':'FibraOtica',
            'No phone service':'Sem contrato',
            'One year':'Anual',
            'month-to-month':'Mensal',
            'Two year':'DoisAnos',
            'Mailed check':'PagamentoFisico(M)',
            'Electronic check':'PagamentoEletronico(M)',
            'Bank transfer (automatic)':'TransfBancaria(A)',
            'Credit card (automatic)':'CartãoCredito(A)'
            }

dados_att= dados_att.replace(tradução)

print(tradução)

{'Yes': 'Sim', 'No': 'Nao', 'Male': 'Homem', 'Female': 'Mulher', 'Fiber optic': 'FibraOtica', 'No phone service': 'Sem contrato', 'One year': 'Anual', 'month-to-month': 'Mensal', 'Two year': 'DoisAnos', 'Mailed check': 'PagamentoFisico(M)', 'Electronic check': 'PagamentoEletronico(M)', 'Bank transfer (automatic)': 'TransfBancaria(A)', 'Credit card (automatic)': 'CartãoCredito(A)'}

In [170]:
dados_att

,ID,Evasão,Genero,Idoso,Parceiro,Dependentes,dominios,ServiçosCel,MultiplasLinhas,ServiçoNet,...,OnlineBackup,ProteçãoDisp,SuporteTec,TransmissaoTv,TransmissaoFilmes,Contrato,FaturaFisica,MetodoPagamento,RecargaMês,RecargaTotal
0,0002-ORFBO,Nao,Mulher,0,Sim,Sim,9,Sim,Nao,DSL,...,Sim,Nao,Sim,Sim,Nao,Anual,Sim,PagamentoFisico(M),65.60,593.3
1,0003-MKNFE,Nao,Homem,0,Nao,Nao,9,Sim,Sim,DSL,...,Nao,Nao,Nao,Nao,Sim,Month-to-month,Nao,PagamentoFisico(M),59.90,542.4
2,0004-TLHLJ,Sim,Homem,0,Nao,Nao,4,Sim,Nao,FibraOtica,...,Nao,Sim,Nao,Nao,Nao,Month-to-month,Sim,PagamentoEletronico(M),73.90,280.85
3,0011-IGKFF,Sim,Homem,1,Sim,Nao,13,Sim,Nao,FibraOtica,...,Sim,Sim,Nao,Sim,Sim,Month-to-month,Sim,PagamentoEletronico(M),98.00,1237.85
4,0013-EXCHZ,Sim,Mulher,1,Sim,Nao,3,Sim,Nao,FibraOtica,...,Nao,Nao,Sim,Sim,Nao,Month-to-month,Sim,PagamentoFisico(M),83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,Nao,Mulher,0,Nao,Nao,13,Sim,Nao,DSL,...,Nao,Nao,Sim,Nao,Nao,Anual,Nao,PagamentoFisico(M),55.15,742.9
7263,9992-RRAMN,Sim,Homem,0,Sim,Nao,22,Sim,Sim,FibraOtica,...,Nao,Nao,Nao,Nao,Sim,Month-to-month,Sim,PagamentoEletronico(M),85.10,1873.7
7264,9992-UJOEL,Nao,Homem,0,Nao,Nao,2,Sim,Nao,DSL,...,Sim,Nao,Nao,Nao,Nao,Month-to-month,Sim,PagamentoFisico(M),50.30,92.75
7265,9993-LHIEB,Nao,Homem,0,Sim,Sim,67,Sim,Nao,DSL,...,Nao,Sim,Sim,Nao,Sim,DoisAnos,Nao,PagamentoFisico(M),67.85,4627.65
7266,9995-HOTOH,Nao,Homem,0,Sim,Sim,63,Nao,Sem contrato,DSL,...,Sim,Sim,Nao,Sim,Sim,DoisAnos,Nao,PagamentoEletronico(M),59.00,3707.6

In [171]:
#Vamos considerar que as pessoas com número 0 não sejam idosos e 1 sejam idosos.
dados_att['Idoso'].value_counts()

0    6085
1    1182
Name: Idoso, dtype: int64

In [172]:
dados_idoso = {0:'não',
               1:'sim'}

dados_att['Idoso']= dados_att['Idoso'].replace(dados_idoso)

print(dados_idoso)

{0: 'não', 1: 'sim'}

In [173]:
dados_att

,ID,Evasão,Genero,Idoso,Parceiro,Dependentes,dominios,ServiçosCel,MultiplasLinhas,ServiçoNet,...,OnlineBackup,ProteçãoDisp,SuporteTec,TransmissaoTv,TransmissaoFilmes,Contrato,FaturaFisica,MetodoPagamento,RecargaMês,RecargaTotal
0,0002-ORFBO,Nao,Mulher,não,Sim,Sim,9,Sim,Nao,DSL,...,Sim,Nao,Sim,Sim,Nao,Anual,Sim,PagamentoFisico(M),65.60,593.3
1,0003-MKNFE,Nao,Homem,não,Nao,Nao,9,Sim,Sim,DSL,...,Nao,Nao,Nao,Nao,Sim,Month-to-month,Nao,PagamentoFisico(M),59.90,542.4
2,0004-TLHLJ,Sim,Homem,não,Nao,Nao,4,Sim,Nao,FibraOtica,...,Nao,Sim,Nao,Nao,Nao,Month-to-month,Sim,PagamentoEletronico(M),73.90,280.85
3,0011-IGKFF,Sim,Homem,sim,Sim,Nao,13,Sim,Nao,FibraOtica,...,Sim,Sim,Nao,Sim,Sim,Month-to-month,Sim,PagamentoEletronico(M),98.00,1237.85
4,0013-EXCHZ,Sim,Mulher,sim,Sim,Nao,3,Sim,Nao,FibraOtica,...,Nao,Nao,Sim,Sim,Nao,Month-to-month,Sim,PagamentoFisico(M),83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,Nao,Mulher,não,Nao,Nao,13,Sim,Nao,DSL,...,Nao,Nao,Sim,Nao,Nao,Anual,Nao,PagamentoFisico(M),55.15,742.9
7263,9992-RRAMN,Sim,Homem,não,Sim,Nao,22,Sim,Sim,FibraOtica,...,Nao,Nao,Nao,Nao,Sim,Month-to-month,Sim,PagamentoEletronico(M),85.10,1873.7
7264,9992-UJOEL,Nao,Homem,não,Nao,Nao,2,Sim,Nao,DSL,...,Sim,Nao,Nao,Nao,Nao,Month-to-month,Sim,PagamentoFisico(M),50.30,92.75
7265,9993-LHIEB,Nao,Homem,não,Sim,Sim,67,Sim,Nao,DSL,...,Nao,Sim,Sim,Nao,Sim,DoisAnos,Nao,PagamentoFisico(M),67.85,4627.65
7266,9995-HOTOH,Nao,Homem,não,Sim,Sim,63,Nao,Sem contrato,DSL,...,Sim,Sim,Nao,Sim,Sim,DoisAnos,Nao,PagamentoEletronico(M),59.00,3707.6

#Agora que acabamos nossa limpeza e transformação dos dados, vamos procurar e tratar dados ineficazes de nos ajudar.

In [174]:
dados_att.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 7267 non-null   object
 1   Evasão             7267 non-null   object
 2   Genero             7267 non-null   object
 3   Idoso              7267 non-null   object
 4   Parceiro           7267 non-null   object
 5   Dependentes        7267 non-null   object
 6   dominios           7267 non-null   int64
 7   ServiçosCel        7267 non-null   object
 8   MultiplasLinhas    7267 non-null   object
 9   ServiçoNet         7267 non-null   object
 10  SegurançaNet       7267 non-null   object
 11  OnlineBackup       7267 non-null   object
 12  ProteçãoDisp       7267 non-null   object
 13  SuporteTec         7267 non-null   object
 14  TransmissaoTv      7267 non-null   object
 15  TransmissaoFilmes  7267 non-null   object
 16  Contrato           7267 non-null   object
 17  FaturaFisica       7267 non-null   object
 18  MetodoPagamento    7267 non-null   object
 19  RecargaMês         7267 non-null   float64
 20  RecargaTotal       7267 non-null   object
dtypes: float64(1), int64(1), object(19)
memory usage: 1.2+ MB

In [175]:
#Nossa coluna RecargaTotal tem que ser númerica, então.

dados_att['RecargaTotal'] = dados_att['RecargaTotal'].str.replace(',', '.')
dados_att['RecargaTotal']

0         593.3
1         542.4
2        280.85
3       1237.85
4         267.4
         ...
7262      742.9
7263     1873.7
7264      92.75
7265    4627.65
7266     3707.6
Name: RecargaTotal, Length: 7267, dtype: object

In [176]:
dados_att['RecargaTotal'].isnull().sum()

0

In [177]:
dados_att['RecargaTotal'] = pd.to_numeric(dados_att['RecargaTotal'],errors = 'coerce')

In [178]:
dados_att.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 7267 non-null   object
 1   Evasão             7267 non-null   object
 2   Genero             7267 non-null   object
 3   Idoso              7267 non-null   object
 4   Parceiro           7267 non-null   object
 5   Dependentes        7267 non-null   object
 6   dominios           7267 non-null   int64
 7   ServiçosCel        7267 non-null   object
 8   MultiplasLinhas    7267 non-null   object
 9   ServiçoNet         7267 non-null   object
 10  SegurançaNet       7267 non-null   object
 11  OnlineBackup       7267 non-null   object
 12  ProteçãoDisp       7267 non-null   object
 13  SuporteTec         7267 non-null   object
 14  TransmissaoTv      7267 non-null   object
 15  TransmissaoFilmes  7267 non-null   object
 16  Contrato           7267 non-null   object
 17  FaturaFisica       7267 non-null   object
 18  MetodoPagamento    7267 non-null   object
 19  RecargaMês         7267 non-null   float64
 20  RecargaTotal       7256 non-null   float64
dtypes: float64(2), int64(1), object(18)
memory usage: 1.2+ MB

In [179]:
dados_att['ID'].isnull().sum()

0

In [180]:
dados_att.isnull().sum()

ID                    0
Evasão                0
Genero                0
Idoso                 0
Parceiro              0
Dependentes           0
dominios              0
ServiçosCel           0
MultiplasLinhas       0
ServiçoNet            0
SegurançaNet          0
OnlineBackup          0
ProteçãoDisp          0
SuporteTec            0
TransmissaoTv         0
TransmissaoFilmes     0
Contrato              0
FaturaFisica          0
MetodoPagamento       0
RecargaMês            0
RecargaTotal         11
dtype: int64

In [181]:
dados_att.dropna()

,ID,Evasão,Genero,Idoso,Parceiro,Dependentes,dominios,ServiçosCel,MultiplasLinhas,ServiçoNet,...,OnlineBackup,ProteçãoDisp,SuporteTec,TransmissaoTv,TransmissaoFilmes,Contrato,FaturaFisica,MetodoPagamento,RecargaMês,RecargaTotal
0,0002-ORFBO,Nao,Mulher,não,Sim,Sim,9,Sim,Nao,DSL,...,Sim,Nao,Sim,Sim,Nao,Anual,Sim,PagamentoFisico(M),65.60,593.30
1,0003-MKNFE,Nao,Homem,não,Nao,Nao,9,Sim,Sim,DSL,...,Nao,Nao,Nao,Nao,Sim,Month-to-month,Nao,PagamentoFisico(M),59.90,542.40
2,0004-TLHLJ,Sim,Homem,não,Nao,Nao,4,Sim,Nao,FibraOtica,...,Nao,Sim,Nao,Nao,Nao,Month-to-month,Sim,PagamentoEletronico(M),73.90,280.85
3,0011-IGKFF,Sim,Homem,sim,Sim,Nao,13,Sim,Nao,FibraOtica,...,Sim,Sim,Nao,Sim,Sim,Month-to-month,Sim,PagamentoEletronico(M),98.00,1237.85
4,0013-EXCHZ,Sim,Mulher,sim,Sim,Nao,3,Sim,Nao,FibraOtica,...,Nao,Nao,Sim,Sim,Nao,Month-to-month,Sim,PagamentoFisico(M),83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,Nao,Mulher,não,Nao,Nao,13,Sim,Nao,DSL,...,Nao,Nao,Sim,Nao,Nao,Anual,Nao,PagamentoFisico(M),55.15,742.90
7263,9992-RRAMN,Sim,Homem,não,Sim,Nao,22,Sim,Sim,FibraOtica,...,Nao,Nao,Nao,Nao,Sim,Month-to-month,Sim,PagamentoEletronico(M),85.10,1873.70
7264,9992-UJOEL,Nao,Homem,não,Nao,Nao,2,Sim,Nao,DSL,...,Sim,Nao,Nao,Nao,Nao,Month-to-month,Sim,PagamentoFisico(M),50.30,92.75
7265,9993-LHIEB,Nao,Homem,não,Sim,Sim,67,Sim,Nao,DSL,...,Nao,Sim,Sim,Nao,Sim,DoisAnos,Nao,PagamentoFisico(M),67.85,4627.65
7266,9995-HOTOH,Nao,Homem,não,Sim,Sim,63,Nao,Sem contrato,DSL,...,Sim,Sim,Nao,Sim,Sim,DoisAnos,Nao,PagamentoEletronico(M),59.00,3707.60

In [182]:
dados_att['Genero'].value_counts()

Homem     3675
Mulher    3592
Name: Genero, dtype: int64

***Vamos adicionar uma nova coluna para o gasto diário***

In [183]:
GastosDiarios = round((dados_att['RecargaMês']/30),2)

dados_att.insert(loc = 20,
                 column='GastosDiarios',
                 value= GastosDiarios)

In [184]:
dados_att.head(4)

,ID,Evasão,Genero,Idoso,Parceiro,Dependentes,dominios,ServiçosCel,MultiplasLinhas,ServiçoNet,...,ProteçãoDisp,SuporteTec,TransmissaoTv,TransmissaoFilmes,Contrato,FaturaFisica,MetodoPagamento,RecargaMês,GastosDiarios,RecargaTotal
0,0002-ORFBO,Nao,Mulher,não,Sim,Sim,9,Sim,Nao,DSL,...,Nao,Sim,Sim,Nao,Anual,Sim,PagamentoFisico(M),65.6,2.19,593.30
1,0003-MKNFE,Nao,Homem,não,Nao,Nao,9,Sim,Sim,DSL,...,Nao,Nao,Nao,Sim,Month-to-month,Nao,PagamentoFisico(M),59.9,2.00,542.40
2,0004-TLHLJ,Sim,Homem,não,Nao,Nao,4,Sim,Nao,FibraOtica,...,Sim,Nao,Nao,Nao,Month-to-month,Sim,PagamentoEletronico(M),73.9,2.46,280.85
3,0011-IGKFF,Sim,Homem,sim,Sim,Nao,13,Sim,Nao,FibraOtica,...,Sim,Nao,Sim,Sim,Month-to-month,Sim,PagamentoEletronico(M),98.0,3.27,1237.85

In [185]:
dados_att.describe()

          dominios   RecargaMês  GastosDiarios  RecargaTotal
count  7267.000000  7267.000000    7267.000000   7256.000000
mean     32.346498    64.720098       2.157292   2280.634213
std      24.571773    30.129572       1.004407   2268.632997
min       0.000000    18.250000       0.610000     18.800000
25%       9.000000    35.425000       1.180000    400.225000
50%      29.000000    70.300000       2.340000   1391.000000
75%      55.000000    89.875000       2.995000   3785.300000
max      72.000000   118.750000       3.960000   8684.800000

#Passando nossos dados djson para CSV.

In [186]:
dados_att.to_csv('dados_clientes.csv', index = False)